<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="../../public/css/admin-home.css">
  <title>Admin Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div id="card">
    <div id="card-content">
      <div class="form">
        <a href="applicants/apply">
            <input id="submit-btn" type="submit" name="submit" value="Add Employee"/>
        </a>
        <a href="admin/login">
          <input id="submit-btn" type="submit" name="submit" value="View All Employees"/>
      </a>
        <a href="login">
            <input id="submit-btn" type="submit" name="submit" value="Add Department"/>
        </a>
        <a href="interview/login">
            <input id="submit-btn" type="submit" name="submit" value="View All Departments"/>
        </a>
      </div>
      </div>
  </div>
  </div>
</body>

</html>