<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>HR Operations</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>Home</h2>
        <div class="underline-title"></div>
      </div>
      <div class="form">
        <a href="applicants/apply">
            <input id="submit-btn" type="submit" name="submit" value="Apply for Opportunity"/>
        </a>
        <a href="login">
            <input id="submit-btn" type="submit" name="submit" value="Login as Employee"/>
        </a>
        <a href="interview/login">
            <input id="submit-btn" type="submit" name="submit" value="Login as Interviewer"/>
        </a>
        <a href="admin/login">
            <input id="submit-btn" type="submit" name="submit" value="Login as Administrator"/>
        </a>
      </div>
      
    </div>
  </div>
  <script src="index.js"></script>
</body>

</html>