<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="../../public/css/interviewer-home.css">
  <title>Interviewer Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h3>APPLICANTS DETAILS</h3>
        <div class="underline-title"></div>
      </div>
      <table>
          <thead>
              <tr class="table-header">
                  <th>Applicant ID</th>
                  <th>Interviewee</th>
                  <th>Resume</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Update</th>
                  <th>Interviewer</th>
                  <th>Status</th>
                  <th>Accept/Reject</th>
              </tr>
          </thead>
          <tbody>
              <tr class="table-row">
                <td>App1001</td>
                <td>Applicant 1</td>
                <td><a href="" download>Resume</a></td>
                <td><input type="date" id="start" name="interviewData"
                  value="2021-05-15"></td>
                  <td><input type="time" id="start" name="interviewTime" value="15:00"></td>
                  <td><button>Update</button></td>
                <td>Homer Simpson</td>
                <td>Pending</td>
                <td>
                    <button id="accept">✔</button>
                    <button id="reject">✖</button>
                </td>
              </tr>
              <tr class="table-row">
                <td>App1002</td>
                <td>Applicant 2</td>
                <td><a href="" download>Resume</a></td>
                <td><input type="date" id="start" name="interviewData"
                  value="2021-05-15"></td>
                  <td><input type="time" id="start" name="interviewTime" value="16:00"></td>
                  <td><button>Update</button></td>
                <td>Homer Simpson</td>
                <td>Pending</td>
                <td>
                    <button id="accept">✔</button>
                    <button id="reject">✖</button>
                </td>
              </tr>
              <tr class="table-row">
                <td>App1003</td>
                <td>Applicant 3</td>
                <td><a href="" download>Resume</a></td>
                <td><input type="date" id="startDate" name="interviewData"
                  value="2021-05-15"></td>
                  <td><input type="time" id="starttime" name="interviewTime" 
                    value="17:00"></td>
                    <td><button>Update</button></td>
                <td>Homer Simpson</td>
                <td>Pending</td>
                <td>
                    <button id="accept">✔</button>
                    <button id="reject">✖</button>
                </td>
              </tr>
              <tr class="table-row">
                <td>App1004</td>
                <td>Applicant 4</td>
                <td><a href="" download>Resume</a></td>
                <td><input type="date" id="start" name="interviewData"
                  value="2021-05-15"></td>
                  <td><input type="time" id="start" name="interviewTime" value="18:00"></td>
                  <td><button>Update</button></td>
                <td>Homer Simpson</td>
                <td>Pending</td>
                <td>
                    <button id="accept">✔</button>
                    <button id="reject">✖</button>
                </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</body>

</html>