<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="../css/HR-home.css">
  <title>Manager Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h3>APPLICANTS DETAILS</h3>
        <div class="underline-title"></div>
      </div>
      <table>
          <thead>
              <tr class="table-header">
                  <th>Applicant ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Resume</th>
                  <th>Accept/Reject</th>
              </tr>
          </thead>
          <tbody>
              <tr class="table-row">
            <td>App1001</td>
            <td>Applicant 1</td>
            <td>Applicant1@gmail.com</td>
            <td><a href="" download>Resume</a></td>
            <td>
                <button id="accept">✔</button>
                <button id="reject">✖</button>
            </td>
        </tr>
        <tr class="table-row">
            <td>App1002</td>
            <td>Applicant 2</td>
            <td>Applicant2@gmail.com</td>
            <td><a href="" download>Resume</a></td>
            <td>
                <button id="accept">✔</button>
                <button id="reject">✖</button>
            </td>
        </tr>
        <tr class="table-row">
            <td>App1003</td>
            <td>Applicant 3</td>
            <td>Applicant3@gmail.com</td>
            <td><a href="" download>Resume</a></td>
            <td>
                <button id="accept">✔</button>
                <button id="reject">✖</button>
            </td>
        </tr>
        <tr class="table-row">
            <td>App1004</td>
            <td>Applicant 4</td>
            <td>Applicant4@gmail.com</td>
            <td><a href="" download>Resume</a></td>
            <td>
                <button id="accept">✔</button>
                <button id="reject">✖</button>
            </td>
        </tr>
          </tbody>
      </table>
    </div>
  </div>
</body>

</html>